<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" th:href="@{../css/item.css}">
  <div th:replace="nav/nav.html :: css"></div>
</head>
<header th:replace="nav/nav.html :: nav"> </header>

<body>
  <button><a href="./crear">Crear Item</a> </button>
  <a class="altaBaja" th:href="mostrarAlta" action="mostrarAlta" method="POST">alta</a>
  <a class="altaBaja" th:href="mostrarBaja" action="mostrarBaja" method="POST">baja</a>
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Imagen</th>
        <th scope="col">Nombre</th>
        <th scope="col">Calidad</th>
        <th scope="col">Startrack</th>
        <th scope="col">Editar</th>
        <th th:if="${!altas}" scope="col">Alta</th>
        <th scope="col">Baja</th>
      </tr>
     
    </thead>
     <tbody th:if="${altas}">
      <tr th:each="item : ${items}" th:if="${item.alta}">
       <input class="fechaCampo" th:value="${item.idItem}" hidden name="id" />
        <td class=col-1>  <img  class="col-12" th:src="${item.imagen}" alt=""></td>
         <td  class=col-3 th:text="${item.nombre}"></td>
          <td th:text="${item.calidad}"></td>
            <td th:text="${item.startrack}"></td>
        <td><a class="buttonEdit" th:href="@{editar/}+${item.idItem}"></a></td>
        <form action="altaBaja" method="POST">
          <input class="fechaCampo" th:value="${item.idItem}" hidden name="id" />
          <td><button class="buttonCruz"> </button></td>
        </form>
      </tr>
      </tbody>
      <!--
        <tbody th:if="${!altas}">
      <tr th:each="alumno : ${alumnos}" th:if="${!alumno.alta}">
        <td th:text="${alumno.nombre + alumno.apellido}"></td>
        <td><a class="buttonEdit" th:href="@{editar/}+${alumno.idAlumno}"></a></td>
        <form action="altaBaja" method="POST">
          <input class="fechaCampo" th:value="${alumno.idAlumno}" hidden name="id" />
          <td><button class="buttonCheck"> </button></td>
        </form>
         <td><a class="buttonBorrar" th:href="@{delete/}+${alumno.idAlumno}"></a></td>
      </tr>
      </tbody> -->
</html>